{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="presentation-page">
        <div class="section-shaped my-0 skew-separator skew-mini">
            <div class="page-header page-header-small header-filter">
                <div class="page-header-image"
                     style="background-image: url('{% static 'img/background/login-bg.jpg' %}');">
                </div>
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="px-5">
                                <h1 class="text-white font-weight-500">프로젝트</h1>
                                <p class="text-lead text-white">제가 참여한 프로젝트의 목록입니다. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-basic-components">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-10 mb-md-5">
                        <h1 class="display-3">친구들 날아욧!</h1>
                        <h3>게임 프로젝트</h3>
                        <p class="lead">제가 고등학교 2학년 때, 넷마블에서 진행하는 게임아카데미에 참가하여 팀 '알파카파카' 팀원들과 함께 개발, 이후 넷마블을 통해 Play
                            스토어에 등록하게 된 게임입니다. </p>
                        <ul class="lead">
                            <li>장르: 2D 플랫포머</li>
                            <li>플랫폼: Google Play</li>
                        </ul>
                        <a href='https://play.google.com/store/apps/details?id=com.Alpakapaka.FriendsFly&hl=ko&pli=1&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                alt='다운로드하기 Google Play'
                                src='https://play.google.com/intl/en_us/badges/static/images/badges/ko_badge_web_generic.png'
                                height="12%"/></a>
                        <p class="small">* Google Play 및 Google Play 로고는 Google LLC의 상표입니다.</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="image-container">
                            <img class="table-img" src="{% static 'img/presentation-page/friendsfly-characters.png' %}"
                                 alt="FriendsFly Characters">
                            <img class="coloured-card-btn-img"
                                 src="{% static 'img/presentation-page/friendsfly-icon.webp' %}" alt="FriendsFly Icon">
                            <img class="w-100" src="{% static 'img/presentation-page/friendsfly-background.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-md-5 order-md-2 order-lg-1">
                        <div class="image-container">
                            <img class="img shadow rounded img-comments w-100"
                                 src="{% static 'img/presentation-page/validation-sine-wave.png' %}">
                            <img class="img shadow rounded img-blog mt-5 w-100"
                                 src="{% static 'img/presentation-page/trials-sine-wave-model-A.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto order-md-1">
                        <div class="section-description">
                            <h1 class="display-4">Optimization of Voltage Protocol to Identify Ion Channel Kinetics</h1>
                            <h3>학부연구</h3>
                            <p class="lead">
                                2022년 1월부터 교수님과의 연구에 공동저자로 참여하며 시작하게 된 연구입니다. 심장 근육 세포의 전류 모델을
                                학습시키기 위한 전압 프로토콜을 최적화하기 위해서 교수님과 장기간 연구를 진행하였으며, 현재 Manuscript를
                                "Frontiers in Physiology"에 제출한 상태입니다.
                            </p>
                            <a href="/media/1119634_Manuscript.PDF"
                               class="btn btn-success btn-icon mb-3 mb-sm-0" target="_blank">
                                <span class="btn-inner--icon"><i class="fas fa-paperclip"></i></span>
                                <span class="btn-inner--text">논문 확인하기</span>
                            </a>
                            <a href="https://github.com/everettielle/reduced-voltage-protocol"
                               class="btn btn-darker btn-icon mb-3 mb-sm-0" target="_blank">
                                <span class="btn-inner--icon"><i class="fas fa-code"></i></span>
                                <span class="btn-inner--text">프로젝트</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-basic-components">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-10 mb-md-5">
                        <h1 class="display-3">피드백 사이트</h1>
                        <h3>팀 프로젝트</h3>
                        <p class="lead">
                            제가 고등학교 2학년 때, 프로그래밍 소모임을 하는 친구들과 함께 학교 수업 이후 수업 피드백을 받기 위해 제작했던 웹 사이트입니다.
                        </p>
                        <p class="lead">
                            이 사이트 또한 Django로 개발되었으며, 포트폴리오 사이트와의 연동을 위해 일부 수정하여 적용하였습니다.
                        </p>
                        <a href="feedback/" class="btn btn-primary btn-icon mb-3 mb-sm-0" target="_blank">
                            <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                            <span class="btn-inner--text">테스트</span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="image-container">
                            <img class="w-75" src="{% static 'img/presentation-page/good-feedback.png' %}">
                        </div>
                        <a href="https://www.flaticon.com/free-icons/feedback" title="feedback icons">Feedback icons created by Freepik - Flaticon</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-md-5 order-md-2 order-lg-1">
                        <div class="image-container">
                            <img class="img shadow rounded img-comments w-100"
                                 src="{% static 'img/presentation-page/validation-sine-wave.png' %}">
                            <img class="img shadow rounded img-blog mt-5 w-100"
                                 src="{% static 'img/presentation-page/trials-sine-wave-model-A.png' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto order-md-1">
                        <div class="section-description">
                            <h1 class="display-3">경매 중고장터</h1>
                            <h3>개인 프로젝트</h3>
                            <p class="lead">
                                현재 개인적으로 진행 중인 프로젝트입니다. 한국에서는 ebay와 같은 경매가 가능한 중고 사이트가 미술품 계열을
                                제외하고는 사실상 존재하지 않기에, 이를 만들어보면 어떨까? 하는 마음에 시작해 보았습니다.
                                이 사이트 또한 Django로 제작되었습니다.
                            </p>
                            <a href="auction/"
                               class="btn btn-primary btn-icon mb-3 mb-sm-0" target="_blank">
                                <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                                <span class="btn-inner--text">테스트</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}